/********** Template CSS **********/
:root {
    --primary: #F86E2F;
    --secondary: #525368;
    --light: #efefef;
    --dark: #F86E2F;
    --lighter-primary: #fb9566;
    --black: #000000;
    --blue: #0000CC;
}


.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(15, 66, 41, .6);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(15, 66, 41, .6), rgba(15, 66, 41, .6)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/*** Top Feature ***/
@media (min-width: 991.98px) {
    .top-feature {
        position: relative;
        margin-top: -80px;
        z-index: 1;
    }
}


/*** Facts & Quote ***/
.facts,
.quote {
    background: var(--lighter-primary);
    opacity: 90%;
}


/*** Service ***/
.service-item {
    position: relative;
    text-align: center;
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: .3s;
    z-index: -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .3s;
}

.service-item:hover .service-text {
    background: rgba(15, 66, 41, .6);
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #FFFFFF;
}

.service-item:hover .service-text p {
    color: var(--light);
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: .5s;
}

.service-item:hover .service-text .btn-square {
    background: var(--light);
}

.service-item .service-text .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: var(--light);
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
}

.service-item:hover .service-text .btn {
    width: 112px;
}


/*** Project Portfolio ***/
#portfolio-flters {
    display: inline-block;
    background: var(--light);
    padding: 10px 15px;
}

#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--dark);
    border-color: var(--dark);
}

.portfolio-inner {
    position: relative;
    overflow: hidden;
    height: 350px;
}

.portfolio-inner::before,
.portfolio-inner::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}

.portfolio-inner::after {
    left: auto;
    right: 0;
}

.portfolio-inner:hover::before,
.portfolio-inner:hover::after {
    width: 50%;
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.portfolio-inner:hover .portfolio-text {
    transition-delay: .3s;
    opacity: 1;
}

.portfolio-inner .portfolio-text .btn {
    background: var(--light);
    color: var(--primary);
}

.portfolio-inner .portfolio-text .btn:hover {
    background: var(--primary);
    color: var(--light);
}


/*** Team ***/
.team-item {
    position: relative;
    overflow: hidden;
}

.team-item .team-text {
    position: absolute;
    width: calc(100% - 45px);
    left: -100%;
    bottom: 45px;
    padding: 1.5rem;
    background: #FFFFFF;
    border-radius: 0 4px 4px 0;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    left: 0;
    opacity: 1;
}

.team-item .team-social .btn {
    background: var(--light);
    color: var(--primary);
}

.team-item .team-social .btn:hover {
    background: var(--primary);
    color: var(--light);
}

.team-item .team-img .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.team-item:hover .team-img .team-social {
    transition-delay: .3s;
    opacity: 1;
}


/*** Testimonial ***/

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 4px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: var(--light);
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--black);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: var(--light);
    background: var(--lighter-primary);
}

.copyright a {
    color: #FFFFFF;
}

.copyright a:hover {
    color: var(--blue);
}

.text-primary {
    color: var(--primary) !important;
}

.pr-2 {
    padding-right: 2px;
}

.pl-2 {
    padding-left: 2px;
}

.pr-5 {
    padding-right: 5px;
}


.d-block {
    display: block;
}

.a {
    color: #525368 !important;
    text-decoration: none;
}


/* Store css */


.section-heading {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 64px;
    color: #10996d;
    margin: 0 0 70px;
}

.container_store {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.profile {
    position: relative;
    transition: all 0.3s;
}

.profile:hover {
    transform: translateY(-25px);
    z-index: 9999;
}

.profile img {
    max-width: 70%;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}


.profile_franchise {
    text-align: center;
    position: relative;
    transition: all 0.3s;
}

/* .profile_franchise:hover {
    transform: translateY(-25px);
    z-index: 9999;
  } */

.profile_franchise img {
    max-width: 60%;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.profile_franchise .name {
    display: block;
    position: relative;
    bottom: 0;
    /* Position the name at the bottom */
    width: 100%;
    /* Make the name span the full width of its parent */
    padding: 5px 0;
    /* Adjust padding as needed */
    font-weight: bold;
    z-index: 1;
}

/* .profile:not(:first-child) img {
    margin-left: -20px;
  }
   */
/* .profile .name {
    position: absolute;
    background-color: var(--primary);
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 5px 20px;
    border-radius: 100px;
    bottom: -50px; left: 25%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .profile .name::before {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: var(--dark);
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .profile img:hover + .name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
  } */

.hero-banner {
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;
}

.banner-with-video video.video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    top: 0;
    left: 0;
}

.m-20 {
    margin-top: 0px;
    margin: 20px
}

.bg-lighter-primary {
    background-color: var(--lighter-primary);
    color: white;
}

.bg-primary {
    background-color: var(--primary) !important;
    color: white;
}

.bg-light-white {
    background-color: var(--light);
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:hover {
    background-color: var(--lighter-primary);
}

.profile {
    text-align: center;
    position: relative;
}

.name {
    display: block;
    position: relative;
    bottom: 0;
    /* Position the name at the bottom */
    width: 100%;
    /* Make the name span the full width of its parent */
    padding: 5px 0;
    /* Adjust padding as needed */
    font-weight: bold;
    z-index: 1;
}

.text-red {
    color: red;
}


.card {
    margin-bottom: 1rem;
}


.list-view {
    .row {
        >[class*='col-'] {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .card {
        @media (max-width: 575.98px) {
            flex-direction: column;
        }

        flex-direction: row;

        >.card-img-top {
            width: auto;
        }

        .card-body {
            display: inline-block;
        }
    }
}


.link-blue {
    color: var(--blue) !important;
    text-decoration: underline !important;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev span,
.carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
}

.timeline {
    position: relative;
    width: 100%;
    padding: 30px 0;
  }
  
  .timeline .timeline-container {
    position: relative;
    width: 100%;
  }
  
  .timeline .timeline-end,
  .timeline .timeline-start,
  .timeline .timeline-year {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
  
  .timeline .timeline-end p,
  .timeline .timeline-start p,
  .timeline .timeline-year p {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(#F86E2F, #F86E2F); 
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .timeline .timeline-year {
    margin: 30px 0;
  }
  
  .timeline .timeline-continue {
    position: relative;
    width: 100%;
    padding: 60px 0;
  }
  
  .timeline .timeline-continue::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: var(--primary);
  }
  
  .timeline .row.timeline-left,
  .timeline .row.timeline-right .timeline-date {
    text-align: right;
  }
  
  .timeline .row.timeline-right,
  .timeline .row.timeline-left .timeline-date {
    text-align: left;
  }
  
  .timeline .timeline-date {
    font-size: 14px;
    font-weight: 600;
    margin: 41px 0 0 0;
  }
  
  /* .timeline .timeline-date::after {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 45px;
    background: linear-gradient(#F86E2F, #F86E2F); 
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    border-radius: 15px;
    z-index: 1;
  } */
  
  .timeline .row.timeline-left .timeline-date::after {
    left: -7px;
  }
  
  .timeline .row.timeline-right .timeline-date::after {
    right: -7px;
  }
  
  .timeline .timeline-box,
  .timeline .timeline-launch {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background: #ffffff;
  }
  
  .timeline .timeline-launch {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    border: none;
    text-align: center;
    background: transparent;
  }
  
  .timeline .timeline-box::after,
  .timeline .timeline-box::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline .row.timeline-left .timeline-box::after,
  .timeline .row.timeline-left .timeline-box::before {
    left: 100%;
  }
  
  .timeline .row.timeline-right .timeline-box::after,
  .timeline .row.timeline-right .timeline-box::before {
    right: 100%;
  }
  
  .timeline .timeline-launch .timeline-box::after,
  .timeline .timeline-launch .timeline-box::before {
    left: 50%;
    margin-left: -10px;
  }
  
  .timeline .timeline-box::after {
    top: 26px;
    border-color: transparent transparent transparent #ffffff;
    border-width: 10px;
  }
  
  .timeline .timeline-box::before {
    top: 25px;
    border-color: transparent transparent transparent #dddddd;
    border-width: 11px;
  }
  
  .timeline .row.timeline-right .timeline-box::after {
    border-color: transparent #ffffff transparent transparent;
  }
  
  .timeline .row.timeline-right .timeline-box::before {
    border-color: transparent #dddddd transparent transparent;
  }
  
  .timeline .timeline-launch .timeline-box::after {
    top: -20px;
    border-color: transparent transparent #dddddd transparent;
  }
  
  .timeline .timeline-launch .timeline-box::before {
    top: -19px;
    border-color: transparent transparent #ffffff transparent;
    border-width: 10px;
    z-index: 1;
  }
  
  .timeline .timeline-box .timeline-icon {
    position: relative;
    width: 40px;
    height: auto;
    float: left;
  }
  
  .timeline .timeline-icon i {
    font-size: 25px;
    color: var(--primary);
  }
  
  .timeline .timeline-box .timeline-text {
    position: relative;
    width: calc(100% - 40px);
    float: left;
  }
  
  .timeline .timeline-launch .timeline-text {
    width: 100%;
  }
  
  .timeline .timeline-text h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
  }
  
  .timeline .timeline-text p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  @media (max-width: 768px) {
    .timeline .timeline-continue::after {
      left: 40px;
    }
  
    .timeline .timeline-end,
    .timeline .timeline-start,
    .timeline .timeline-year,
    .timeline .row.timeline-left,
    .timeline .row.timeline-right .timeline-date,
    .timeline .row.timeline-right,
    .timeline .row.timeline-left .timeline-date,
    .timeline .timeline-launch {
      text-align: left;
    }
  
    /* .timeline .row.timeline-left .timeline-date::after,
    .timeline .row.timeline-right .timeline-date::after {
      left: 47px;
    } */
  
    .timeline .timeline-box,
    .timeline .row.timeline-right .timeline-date,
    .timeline .row.timeline-left .timeline-date {
      margin-left: 55px;
    }
  
    .timeline .timeline-launch .timeline-box {
      margin-left: 0;
    }
  
    .timeline .row.timeline-left .timeline-box::after {
      left: -20px;
      border-color: transparent #ffffff transparent transparent;
    }
  
    .timeline .row.timeline-left .timeline-box::before {
      left: -22px;
      border-color: transparent #dddddd transparent transparent;
    }
  
    .timeline .timeline-launch .timeline-box::after,
    .timeline .timeline-launch .timeline-box::before {
      left: 30px;
      margin-left: 0;
    }
  }
  
@media screen and (min-width: 577px) {
    .cards-wrapper {
        display: flex;
    }

    .card_videos {
        margin: 0 0.5em;
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) {
    .card_videos:not(:first-child) {
        display: none;
    }
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}


@media (max-width: 767.98px) {
    .storeList .row-cols-1 {
        flex-direction: row;
    }

    .storeList .col {
        flex: 0 0 50%;
        /* Display two columns per row */
        max-width: 50%;
    }
}

@media (max-width: 1024.98px) {
    .top-feature .px-5 {
        padding: 20px !important;
        justify-content: center;
    }

    .top-feature .ps-3 {
        padding-left: 0px !important;
        padding-top: 20px;
    }

    .top-feature .btn-lg-square {
        margin: auto;
    }

    .top-feature .d-xl-flex {
        text-align: center;
    }
}