RewriteEngine On

# Redirect invalid URLs to the homepage (default fallback)
RewriteRule ^(investor-relations|awards|careers)$ https://magson.in/ [L,R=301]

# Redirect specific broken links to their correct destinations
RewriteRule ^files/AnnualReports/Annual_Report_2019-20\.pdf$ https://magson.in/files/AnnualReports/Annual%20Report_2019-20.pdf [L,R=301]
RewriteRule ^storeList/investorCorner\.html$ https://magson.in/investorCorner.html [L,R=301]
RewriteRule ^careers$ https://magson.in/careers.html [L,R=301]
RewriteRule ^awards$ https://magson.in/awards.html [L,R=301]

# Redirect specific incorrect file paths
RewriteRule ^files/:%20https:/www\.statista\.com/statistics/1278187/india-food-industry-value-by-channel/$ https://www.statista.com/statistics/1278187/india-food-industry-value-by-channel/ [L,R=301]
RewriteRule ^files/:%20(.*)$ https://www.magson.in/files/$1 [L,R=301]

# Set HSTS Header for security
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>
